.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px black solid;
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 3px 4px 13px 5px lightgray ;


}
.info img{
    height: 50px;

}
.info p{
    width: 200px;
    line-height: 25px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.food-booked-confirmation{
    display: grid;
    place-content: center;
    margin-top: 100px;
}